certifi==2018.1.18
chardet==3.0.4
click==6.7
github3.py==1.0.2
idna==2.6
pkginfo==1.4.2
pypandoc==1.4
python-dateutil==2.7.2
PyYAML==3.12
requests==2.20.0
requests-toolbelt==0.8.0
semantic-version==2.6.0
six==1.11.0
tqdm==4.21.0
twine==1.11.0
uritemplate==3.0.0
urllib3==1.22
